@app.route('/')
def index():
    conn = sqlite3.connect('auditorias.db')
    cursor = conn.cursor()

    mes = request.args.get("mes")

    if mes:
        cursor.execute(
            "SELECT * FROM auditorias WHERE data LIKE ?",
            (f"{mes}%",)
        )
    else:
        cursor.execute("SELECT * FROM auditorias")

    auditorias = cursor.fetchall()

    # Média geral
    cursor.execute("SELECT AVG(nota) FROM auditorias")
    media = cursor.fetchone()[0] or 0

    # Total auditorias
    total = len(auditorias)

    # Melhor nota
    cursor.execute("SELECT MAX(nota) FROM auditorias")
    melhor_nota = cursor.fetchone()[0] or 0

    # Medalha
    ouro = len([a for a in auditorias if a[2] >= 90])
    prata = len([a for a in auditorias if a[2] >= 80])
    bronze = len([a for a in auditorias if a[2] >= 70])

    medalha = "Nenhuma"

    if ouro >= 3:
        medalha = "🥇 Ouro"
    elif prata >= 3:
        medalha = "🥈 Prata"
    elif bronze >= 3:
        medalha = "🥉 Bronze"

    areas = [
        "Acabamento C4",
        "Inspeção Final C4",
        "Tratamento Térmico C4",
        "Tratamento Térmico Blocos",
        "Pré-acabamento C4"
    ]

    areas_auditadas = [a[1] for a in auditorias]

    faltando = len([a for a in areas if a not in areas_auditadas])

    conn.close()

    return render_template(
        'index.html',
        auditorias=auditorias,
        mes_selecionado=mes,
        media=round(media, 1),
        total=total,
        melhor_nota=melhor_nota,
        medalha=medalha,
        faltando=faltando
    )